<header>
    <div class="container">
        <div class="header__nav_logo">
            <div class="header__logo"><img src="assets/images/LOGO.png" alt="LOGO"></div>
            <nav>
                <ul class="header__lists">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="stats.html">Статистика</a></li>
                    <li><a href="profile.html">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
        <a href="#" class="header__profile">
            <img src="assets/images/tenders/logout.png" alt="logout">
            <p>Выйти</p>
        </a>
    </div>
</header>